.card {
	background-color: var(--color_white);

	display: grid;
	padding: var(--size-32);
	width: var(--size-364);

	border: var(--size-1) solid #e2e8f0;
	border-radius: var(--size-10);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px
		rgba(0, 0, 0, 0.1);

	transition: scale 0.3s;
}
.card:hover,
.card:focus {
	scale: 1.05;
}

.description {
	margin: var(--size-16) 0 var(--size-32);
	font-size: var(--size-18);
	line-height: 1.6;
}

@media (max-width: 680px) {
	.description {
		font-size: var(--size-16);
		line-height: 1.4;
	}
}
