* {
	color: var(--color_default);
}

body {
	background-color: var(--color_white);

	font-family: var(--body-font);
	font-size: var(--size-20);
	font-weight: 400;
	line-height: 1.8;
}

h1,
h2 {
	font-weight: 900;
	line-height: 1.1;
}

h1 {
	font-size: var(--size-72);
}

h2 {
	font-size: var(--size-56);
}

h3 {
	font-size: var(--size-24);
	font-weight: 700;
	line-height: 1.1;
}

.default-wrapper {
	padding: 0 var(--size-80);
}

.view-limit {
	margin: auto;
	max-width: var(--size-1760);
}

@media (max-width: 1400px) {
	.default-wrapper {
		padding: 0 var(--size-40);
	}
}

@media (max-width: 800px) {
	.default-wrapper {
		padding: 0 var(--size-24);
	}
}

@media (max-width: 680px) {
	body {
		font-size: var(--size-16);
		line-height: 1.4;
	}

	h1 {
		font-size: var(--size-40);
	}

	h2 {
		font-size: var(--size-32);
	}

	h3 {
		font-size: var(--size-20);
	}
}

@media (max-width: 500px) {
	.default-wrapper {
		padding: 0 var(--size-16);
	}
}
